@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
    background:#0d3bd3;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    width: 500px;
}

h2{
    text-align: center;
}


.form-control{
    display: flex;
    justify-content:space-between;
    gap: 10px;
    padding: 10px;
    align-items: center;
    position: relative;
}

.form-control  label{
    width: 40%;
}

.form-control  input{
    width: 60%;
    height: 40px;
    border: 2px solid #c7c7c7;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.form-control  input:focus{
    outline: none;
    border-color: #777;
}

.form-button{
    text-align: center;
    padding: 15px;
}

.form-button  button{
    height: 40px;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
    background: #0d3bd3;
    border-radius: 5px;
    border: none;
    text-decoration: none;
}

.form-control.success input {
    border-color: #2ecc71;
  }
  
  .form-control.error input {
    border-color: #e74c3c;
  }
  
  .form-control i {
    visibility: hidden;
    position: absolute;
    top: 13px;
    right: 10px;
  }

  .form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
    margin-top: 10px;
    margin-right: 8px;
  }
  
  .form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
    margin-top: 10px;
    margin-right: 8px;
  }
  
  .form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }

a{
    text-decoration: none;
    color: #fff;
}

#generate{
    text-decoration: none;
    color: #0d3bd3;
    text-align: center;
    margin-top: 1rem;
}

.form-control  img{
    height: 30px;
    position: absolute;
    top: 15px;
    right: 12px;
}

.form-control  small{
    position: absolute;
    bottom: -8px;
    right: 0;
    left: 42%;
    color: red;
}

.eror{
    animation: shake 0.2s ease-in-out 0s 2;
}


@keyframes shake{
    0%{margin-left: 0rem;}
    25%{margin-left: 0.5rem;}
    75%{margin-left: 0.5rem;}
    100%{margin-left: 0rem;}
}